h1, h2, h3, h4, h5, p, blockquote, figure, ol, ul {
  margin: 0;
  padding: 0;
}

iframe {
  border: 0;
}

main {
  display: block;
}

::-moz-selection {
  background-color: #57a290;
  color: #fff;
}

::selection {
  background-color: #57a290;
  color: #fff;
}

::-moz-focus-inner {
  padding: 0;
  border: 0;
}

:focus {
  outline: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin: 0;
}

body {
  margin: 0;
  line-height: 1.4;
  font-family: Verdana, Geneva, sans-serif;
  color: #616161;
}

hr {
  height: 2px;
  margin: 1rem auto;
  border: 0;
  background: rgba(0, 0, 0, 0.3);
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.hide, .xlarge-hide {
  display: none !important;
}

.small-show, .medium-show, .large-show, xlarge-show {
  display: none;
}

.clear:before, .clear:after {
  content: '';
  display: table;
}

.clear:after {
  clear: both;
}

.clear {
  zoom: 1;
}

a {
  text-decoration: none;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  color: #2266a7;
  cursor: pointer;
  -webkit-text-decoration-skip: objects;
}

a:active, a:hover {
  color: #f15a3b;
}

a img {
  border: 0;
}

p {
  margin-bottom: 1.1rem;
  text-rendering: optimizeLegibility;
}

em, i, .em {
  font-style: italic;
  line-height: inherit;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.lowercase {
  text-transform: lowercase;
}

strong, b, .strong {
  font-weight: bolder;
  line-height: inherit;
}

small, .small {
  font-size: 80%;
}

.large {
  font-size: 140%;
}

sup, .sup, sub, .sub {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sup, .sup {
  top: -.5em;
}

sub, .sub {
  bottom: -.25em;
}

.ellipsis, .ellipsis li {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.text-clip, .text-clip li {
  text-overflow: clip;
  white-space: nowrap;
  overflow: hidden;
}

h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5 {
  font-family: Verdana, Geneva, sans-serif;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  font-size: inherit;
}

h1.super-header, h2.super-header, h3.super-header, h4.super-header, h5.super-header, .h1.super-header, .h2.super-header, .h3.super-header, .h4.super-header, .h5.super-header {
  font-size: 4rem;
  line-height: 1.18;
}

.super-header {
  font-size: 4rem;
  line-height: 1.18;
}

.h1 {
  font-size: 3rem;
  line-height: 1.22;
}

.h2 {
  font-size: 2.5rem;
  line-height: 1.4;
}

.h3 {
  font-size: 2rem;
  line-height: 1.55;
}

.h4 {
  font-size: 1.5rem;
  line-height: 1.7;
}

.h5 {
  font-size: 1rem;
  line-height: 1.85;
}

.sub-header {
  color: rgba(97, 97, 97, 0.6);
}

.super-header.vw {
  font-size: 7vw;
}

h1.vw {
  font-size: 6vw;
}

h2.vw {
  font-size: 5vw;
}

h3.vw {
  font-size: 4.5vw;
}

h4.vw {
  font-size: 4vw;
}

h5.vw {
  font-size: 3.5vw;
}

ul, ol, dl {
  list-style-position: outside;
  margin-bottom: 1.15rem;
}

ul ul, ul ol, ul dl, ol ul, ol ol, ol dl, dl ul, dl ol, dl dl {
  margin-bottom: 0;
}

ul {
  margin-left: 1.2rem;
  list-style-type: disc;
}

ul ul {
  list-style-type: circle;
}

ul.lined, ul.none {
  list-style-type: none;
  margin-left: 0;
}

ul.lined li {
  border-bottom: solid 1px rgba(0, 0, 0, 0.2);
}

ol {
  margin-left: 1.55rem;
  list-style-type: decimal;
}

.img, img {
  max-width: 100%;
  height: auto;
  border: 0;
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.video-container iframe, .video-container object, .video-container embed, .video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.full {
  margin: 0 auto;
}

.full {
  max-width: 960px;
  width: 100%;
}

.grid {
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}

.nowrap {
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.wrap-reverse {
  -webkit-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
}

.justify-start {
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}

.justify-end {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

.justify-center {
  -webkit-justify-content: center;
  justify-content: center;
}

.justify-space {
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.justify-around {
  -webkit-justify-content: space-around;
  justify-content: space-around;
}

.reverse {
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.vertical {
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.vertical.reverse {
  -webkit-flex-direction: column-reverse;
  flex-direction: column-reverse;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.align-top {
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-align-self: flex-start;
  align-self: flex-start;
}

.align-bottom {
  -webkit-align-items: flex-end;
  align-items: flex-end;
  -webkit-align-self: flex-end;
  align-self: flex-end;
}

.align-center {
  -webkit-align-items: center;
  align-items: center;
  -webkit-align-self: center;
  align-self: center;
}

.align-baseline {
  -webkit-align-items: baseline;
  align-items: baseline;
}

.align-stretch {
  -webkit-align-items: stretch;
  align-items: stretch;
}

.cell {
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  min-height: 0px;
  min-width: 0px;
  max-width: 100%;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.cell.fit {
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
}

.cell.fill {
  -webkit-flex: 1 1;
  flex: 1 1;
  width: auto;
}

.cell.collapse {
  margin-left: 0;
  margin-right: 0;
}

.cell.collapse-padding {
  padding-left: 0;
  padding-right: 0;
}

.hide {
  display: none !important;
}

.show {
  display: inherit !important;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.twelve {
  max-width: calc( 100%/12 * 12 - 1rem);
  flex: 0 0 calc( 100%/12 * 12 - 1rem);
}

.twelve.collapse {
  max-width: calc( 100%/12 * 12);
  flex: 0 0 calc( 100%/12 * 12);
}

.order-12 {
  -webkit-order: 12;
  order: 12;
}

.eleven {
  max-width: calc( 100%/12 * 11 - 1rem);
  flex: 0 0 calc( 100%/12 * 11 - 1rem);
}

.eleven.collapse {
  max-width: calc( 100%/12 * 11);
  flex: 0 0 calc( 100%/12 * 11);
}

.order-11 {
  -webkit-order: 11;
  order: 11;
}

.ten {
  max-width: calc( 100%/12 * 10 - 1rem);
  flex: 0 0 calc( 100%/12 * 10 - 1rem);
}

.ten.collapse {
  max-width: calc( 100%/12 * 10);
  flex: 0 0 calc( 100%/12 * 10);
}

.order-10 {
  -webkit-order: 10;
  order: 10;
}

.nine {
  max-width: calc( 100%/12 * 9 - 1rem);
  flex: 0 0 calc( 100%/12 * 9 - 1rem);
}

.nine.collapse {
  max-width: calc( 100%/12 * 9);
  flex: 0 0 calc( 100%/12 * 9);
}

.order-9 {
  -webkit-order: 9;
  order: 9;
}

.eight {
  max-width: calc( 100%/12 * 8 - 1rem);
  flex: 0 0 calc( 100%/12 * 8 - 1rem);
}

.eight.collapse {
  max-width: calc( 100%/12 * 8);
  flex: 0 0 calc( 100%/12 * 8);
}

.order-8 {
  -webkit-order: 8;
  order: 8;
}

.seven {
  max-width: calc( 100%/12 * 7 - 1rem);
  flex: 0 0 calc( 100%/12 * 7 - 1rem);
}

.seven.collapse {
  max-width: calc( 100%/12 * 7);
  flex: 0 0 calc( 100%/12 * 7);
}

.order-7 {
  -webkit-order: 7;
  order: 7;
}

.six {
  max-width: calc( 100%/12 * 6 - 1rem);
  flex: 0 0 calc( 100%/12 * 6 - 1rem);
}

.six.collapse {
  max-width: calc( 100%/12 * 6);
  flex: 0 0 calc( 100%/12 * 6);
}

.order-6 {
  -webkit-order: 6;
  order: 6;
}

.five {
  max-width: calc( 100%/12 * 5 - 1rem);
  flex: 0 0 calc( 100%/12 * 5 - 1rem);
}

.five.collapse {
  max-width: calc( 100%/12 * 5);
  flex: 0 0 calc( 100%/12 * 5);
}

.order-5 {
  -webkit-order: 5;
  order: 5;
}

.four {
  max-width: calc( 100%/12 * 4 - 1rem);
  flex: 0 0 calc( 100%/12 * 4 - 1rem);
}

.four.collapse {
  max-width: calc( 100%/12 * 4);
  flex: 0 0 calc( 100%/12 * 4);
}

.order-4 {
  -webkit-order: 4;
  order: 4;
}

.three {
  max-width: calc( 100%/12 * 3 - 1rem);
  flex: 0 0 calc( 100%/12 * 3 - 1rem);
}

.three.collapse {
  max-width: calc( 100%/12 * 3);
  flex: 0 0 calc( 100%/12 * 3);
}

.order-3 {
  -webkit-order: 3;
  order: 3;
}

.two {
  max-width: calc( 100%/12 * 2 - 1rem);
  flex: 0 0 calc( 100%/12 * 2 - 1rem);
}

.two.collapse {
  max-width: calc( 100%/12 * 2);
  flex: 0 0 calc( 100%/12 * 2);
}

.order-2 {
  -webkit-order: 2;
  order: 2;
}

.one {
  max-width: calc( 100%/12 * 1 - 1rem);
  flex: 0 0 calc( 100%/12 * 1 - 1rem);
}

.one.collapse {
  max-width: calc( 100%/12 * 1);
  flex: 0 0 calc( 100%/12 * 1);
}

.order-1 {
  -webkit-order: 1;
  order: 1;
}

.fifth {
  max-width: calc( 20% - 1rem);
  flex: 0 0 calc( 20% - 1rem);
}

.fifth.collapse {
  max-width: 20%;
  flex: 0 0 20%;
}

@media only screen and (min-width: 480px) {
  .small-hide {
    display: none !important;
  }
  .small-show {
    display: inherit !important;
  }
  .small-text-left {
    text-align: left;
  }
  .small-text-right {
    text-align: right;
  }
  .small-text-center {
    text-align: center;
  }
  .small-text-justify {
    text-align: justify;
  }
  .small-twelve {
    max-width: calc( 100%/12 * 12 - 1rem);
    flex: 0 0 calc( 100%/12 * 12 - 1rem);
  }
  .small-twelve.collapse {
    max-width: calc( 100%/12 * 12);
    flex: 0 0 calc( 100%/12 * 12);
  }
  .small-order-12 {
    -webkit-order: 12;
    order: 12;
  }
  .small-eleven {
    max-width: calc( 100%/12 * 11 - 1rem);
    flex: 0 0 calc( 100%/12 * 11 - 1rem);
  }
  .small-eleven.collapse {
    max-width: calc( 100%/12 * 11);
    flex: 0 0 calc( 100%/12 * 11);
  }
  .small-order-11 {
    -webkit-order: 11;
    order: 11;
  }
  .small-ten {
    max-width: calc( 100%/12 * 10 - 1rem);
    flex: 0 0 calc( 100%/12 * 10 - 1rem);
  }
  .small-ten.collapse {
    max-width: calc( 100%/12 * 10);
    flex: 0 0 calc( 100%/12 * 10);
  }
  .small-order-10 {
    -webkit-order: 10;
    order: 10;
  }
  .small-nine {
    max-width: calc( 100%/12 * 9 - 1rem);
    flex: 0 0 calc( 100%/12 * 9 - 1rem);
  }
  .small-nine.collapse {
    max-width: calc( 100%/12 * 9);
    flex: 0 0 calc( 100%/12 * 9);
  }
  .small-order-9 {
    -webkit-order: 9;
    order: 9;
  }
  .small-eight {
    max-width: calc( 100%/12 * 8 - 1rem);
    flex: 0 0 calc( 100%/12 * 8 - 1rem);
  }
  .small-eight.collapse {
    max-width: calc( 100%/12 * 8);
    flex: 0 0 calc( 100%/12 * 8);
  }
  .small-order-8 {
    -webkit-order: 8;
    order: 8;
  }
  .small-seven {
    max-width: calc( 100%/12 * 7 - 1rem);
    flex: 0 0 calc( 100%/12 * 7 - 1rem);
  }
  .small-seven.collapse {
    max-width: calc( 100%/12 * 7);
    flex: 0 0 calc( 100%/12 * 7);
  }
  .small-order-7 {
    -webkit-order: 7;
    order: 7;
  }
  .small-six {
    max-width: calc( 100%/12 * 6 - 1rem);
    flex: 0 0 calc( 100%/12 * 6 - 1rem);
  }
  .small-six.collapse {
    max-width: calc( 100%/12 * 6);
    flex: 0 0 calc( 100%/12 * 6);
  }
  .small-order-6 {
    -webkit-order: 6;
    order: 6;
  }
  .small-five {
    max-width: calc( 100%/12 * 5 - 1rem);
    flex: 0 0 calc( 100%/12 * 5 - 1rem);
  }
  .small-five.collapse {
    max-width: calc( 100%/12 * 5);
    flex: 0 0 calc( 100%/12 * 5);
  }
  .small-order-5 {
    -webkit-order: 5;
    order: 5;
  }
  .small-four {
    max-width: calc( 100%/12 * 4 - 1rem);
    flex: 0 0 calc( 100%/12 * 4 - 1rem);
  }
  .small-four.collapse {
    max-width: calc( 100%/12 * 4);
    flex: 0 0 calc( 100%/12 * 4);
  }
  .small-order-4 {
    -webkit-order: 4;
    order: 4;
  }
  .small-three {
    max-width: calc( 100%/12 * 3 - 1rem);
    flex: 0 0 calc( 100%/12 * 3 - 1rem);
  }
  .small-three.collapse {
    max-width: calc( 100%/12 * 3);
    flex: 0 0 calc( 100%/12 * 3);
  }
  .small-order-3 {
    -webkit-order: 3;
    order: 3;
  }
  .small-two {
    max-width: calc( 100%/12 * 2 - 1rem);
    flex: 0 0 calc( 100%/12 * 2 - 1rem);
  }
  .small-two.collapse {
    max-width: calc( 100%/12 * 2);
    flex: 0 0 calc( 100%/12 * 2);
  }
  .small-order-2 {
    -webkit-order: 2;
    order: 2;
  }
  .small-one {
    max-width: calc( 100%/12 * 1 - 1rem);
    flex: 0 0 calc( 100%/12 * 1 - 1rem);
  }
  .small-one.collapse {
    max-width: calc( 100%/12 * 1);
    flex: 0 0 calc( 100%/12 * 1);
  }
  .small-order-1 {
    -webkit-order: 1;
    order: 1;
  }
  .small-fifth {
    max-width: calc( 20% - 1rem);
    flex: 0 0 calc( 20% - 1rem);
  }
  .small-fifth.collapse {
    max-width: 20%;
    flex: 0 0 20%;
  }
}

@media only screen and (min-width: 768px) {
  .medium-hide {
    display: none !important;
  }
  .medium-show {
    display: inherit !important;
  }
  .medium-text-left {
    text-align: left;
  }
  .medium-text-right {
    text-align: right;
  }
  .medium-text-center {
    text-align: center;
  }
  .medium-text-justify {
    text-align: justify;
  }
  .medium-twelve {
    max-width: calc( 100%/12 * 12 - 1rem);
    flex: 0 0 calc( 100%/12 * 12 - 1rem);
  }
  .medium-twelve.collapse {
    max-width: calc( 100%/12 * 12);
    flex: 0 0 calc( 100%/12 * 12);
  }
  .medium-order-12 {
    -webkit-order: 12;
    order: 12;
  }
  .medium-eleven {
    max-width: calc( 100%/12 * 11 - 1rem);
    flex: 0 0 calc( 100%/12 * 11 - 1rem);
  }
  .medium-eleven.collapse {
    max-width: calc( 100%/12 * 11);
    flex: 0 0 calc( 100%/12 * 11);
  }
  .medium-order-11 {
    -webkit-order: 11;
    order: 11;
  }
  .medium-ten {
    max-width: calc( 100%/12 * 10 - 1rem);
    flex: 0 0 calc( 100%/12 * 10 - 1rem);
  }
  .medium-ten.collapse {
    max-width: calc( 100%/12 * 10);
    flex: 0 0 calc( 100%/12 * 10);
  }
  .medium-order-10 {
    -webkit-order: 10;
    order: 10;
  }
  .medium-nine {
    max-width: calc( 100%/12 * 9 - 1rem);
    flex: 0 0 calc( 100%/12 * 9 - 1rem);
  }
  .medium-nine.collapse {
    max-width: calc( 100%/12 * 9);
    flex: 0 0 calc( 100%/12 * 9);
  }
  .medium-order-9 {
    -webkit-order: 9;
    order: 9;
  }
  .medium-eight {
    max-width: calc( 100%/12 * 8 - 1rem);
    flex: 0 0 calc( 100%/12 * 8 - 1rem);
  }
  .medium-eight.collapse {
    max-width: calc( 100%/12 * 8);
    flex: 0 0 calc( 100%/12 * 8);
  }
  .medium-order-8 {
    -webkit-order: 8;
    order: 8;
  }
  .medium-seven {
    max-width: calc( 100%/12 * 7 - 1rem);
    flex: 0 0 calc( 100%/12 * 7 - 1rem);
  }
  .medium-seven.collapse {
    max-width: calc( 100%/12 * 7);
    flex: 0 0 calc( 100%/12 * 7);
  }
  .medium-order-7 {
    -webkit-order: 7;
    order: 7;
  }
  .medium-six {
    max-width: calc( 100%/12 * 6 - 1rem);
    flex: 0 0 calc( 100%/12 * 6 - 1rem);
  }
  .medium-six.collapse {
    max-width: calc( 100%/12 * 6);
    flex: 0 0 calc( 100%/12 * 6);
  }
  .medium-order-6 {
    -webkit-order: 6;
    order: 6;
  }
  .medium-five {
    max-width: calc( 100%/12 * 5 - 1rem);
    flex: 0 0 calc( 100%/12 * 5 - 1rem);
  }
  .medium-five.collapse {
    max-width: calc( 100%/12 * 5);
    flex: 0 0 calc( 100%/12 * 5);
  }
  .medium-order-5 {
    -webkit-order: 5;
    order: 5;
  }
  .medium-four {
    max-width: calc( 100%/12 * 4 - 1rem);
    flex: 0 0 calc( 100%/12 * 4 - 1rem);
  }
  .medium-four.collapse {
    max-width: calc( 100%/12 * 4);
    flex: 0 0 calc( 100%/12 * 4);
  }
  .medium-order-4 {
    -webkit-order: 4;
    order: 4;
  }
  .medium-three {
    max-width: calc( 100%/12 * 3 - 1rem);
    flex: 0 0 calc( 100%/12 * 3 - 1rem);
  }
  .medium-three.collapse {
    max-width: calc( 100%/12 * 3);
    flex: 0 0 calc( 100%/12 * 3);
  }
  .medium-order-3 {
    -webkit-order: 3;
    order: 3;
  }
  .medium-two {
    max-width: calc( 100%/12 * 2 - 1rem);
    flex: 0 0 calc( 100%/12 * 2 - 1rem);
  }
  .medium-two.collapse {
    max-width: calc( 100%/12 * 2);
    flex: 0 0 calc( 100%/12 * 2);
  }
  .medium-order-2 {
    -webkit-order: 2;
    order: 2;
  }
  .medium-one {
    max-width: calc( 100%/12 * 1 - 1rem);
    flex: 0 0 calc( 100%/12 * 1 - 1rem);
  }
  .medium-one.collapse {
    max-width: calc( 100%/12 * 1);
    flex: 0 0 calc( 100%/12 * 1);
  }
  .medium-order-1 {
    -webkit-order: 1;
    order: 1;
  }
  .medium-fifth {
    max-width: calc( 20% - 1rem);
    flex: 0 0 calc( 20% - 1rem);
  }
  .medium-fifth.collapse {
    max-width: 20%;
    flex: 0 0 20%;
  }
  .super-header.vw {
    font-size: 5vw;
  }
  .h1.vw {
    font-size: 3.5vw;
  }
  .h2.vw {
    font-size: 3vw;
  }
  .h3.vw {
    font-size: 2.5vw;
  }
  .h4.vw {
    font-size: 2vw;
  }
  .h5.vw {
    font-size: 1.5vw;
  }
}

@media only screen and (min-width: 1024px) {
  .large-hide {
    display: none !important;
  }
  .large-show {
    display: inherit !important;
  }
  .large-text-left {
    text-align: left;
  }
  .large-text-right {
    text-align: right;
  }
  .large-text-center {
    text-align: center;
  }
  .large-text-justify {
    text-align: justify;
  }
  .large-twelve {
    max-width: calc( 100%/12 * 12 - 1rem);
    flex: 0 0 calc( 100%/12 * 12 - 1rem);
  }
  .large-twelve.collapse {
    max-width: calc( 100%/12 * 12);
    flex: 0 0 calc( 100%/12 * 12);
  }
  .large-order-12 {
    -webkit-order: 12;
    order: 12;
  }
  .large-eleven {
    max-width: calc( 100%/12 * 11 - 1rem);
    flex: 0 0 calc( 100%/12 * 11 - 1rem);
  }
  .large-eleven.collapse {
    max-width: calc( 100%/12 * 11);
    flex: 0 0 calc( 100%/12 * 11);
  }
  .large-order-11 {
    -webkit-order: 11;
    order: 11;
  }
  .large-ten {
    max-width: calc( 100%/12 * 10 - 1rem);
    flex: 0 0 calc( 100%/12 * 10 - 1rem);
  }
  .large-ten.collapse {
    max-width: calc( 100%/12 * 10);
    flex: 0 0 calc( 100%/12 * 10);
  }
  .large-order-10 {
    -webkit-order: 10;
    order: 10;
  }
  .large-nine {
    max-width: calc( 100%/12 * 9 - 1rem);
    flex: 0 0 calc( 100%/12 * 9 - 1rem);
  }
  .large-nine.collapse {
    max-width: calc( 100%/12 * 9);
    flex: 0 0 calc( 100%/12 * 9);
  }
  .large-order-9 {
    -webkit-order: 9;
    order: 9;
  }
  .large-eight {
    max-width: calc( 100%/12 * 8 - 1rem);
    flex: 0 0 calc( 100%/12 * 8 - 1rem);
  }
  .large-eight.collapse {
    max-width: calc( 100%/12 * 8);
    flex: 0 0 calc( 100%/12 * 8);
  }
  .large-order-8 {
    -webkit-order: 8;
    order: 8;
  }
  .large-seven {
    max-width: calc( 100%/12 * 7 - 1rem);
    flex: 0 0 calc( 100%/12 * 7 - 1rem);
  }
  .large-seven.collapse {
    max-width: calc( 100%/12 * 7);
    flex: 0 0 calc( 100%/12 * 7);
  }
  .large-order-7 {
    -webkit-order: 7;
    order: 7;
  }
  .large-six {
    max-width: calc( 100%/12 * 6 - 1rem);
    flex: 0 0 calc( 100%/12 * 6 - 1rem);
  }
  .large-six.collapse {
    max-width: calc( 100%/12 * 6);
    flex: 0 0 calc( 100%/12 * 6);
  }
  .large-order-6 {
    -webkit-order: 6;
    order: 6;
  }
  .large-five {
    max-width: calc( 100%/12 * 5 - 1rem);
    flex: 0 0 calc( 100%/12 * 5 - 1rem);
  }
  .large-five.collapse {
    max-width: calc( 100%/12 * 5);
    flex: 0 0 calc( 100%/12 * 5);
  }
  .large-order-5 {
    -webkit-order: 5;
    order: 5;
  }
  .large-four {
    max-width: calc( 100%/12 * 4 - 1rem);
    flex: 0 0 calc( 100%/12 * 4 - 1rem);
  }
  .large-four.collapse {
    max-width: calc( 100%/12 * 4);
    flex: 0 0 calc( 100%/12 * 4);
  }
  .large-order-4 {
    -webkit-order: 4;
    order: 4;
  }
  .large-three {
    max-width: calc( 100%/12 * 3 - 1rem);
    flex: 0 0 calc( 100%/12 * 3 - 1rem);
  }
  .large-three.collapse {
    max-width: calc( 100%/12 * 3);
    flex: 0 0 calc( 100%/12 * 3);
  }
  .large-order-3 {
    -webkit-order: 3;
    order: 3;
  }
  .large-two {
    max-width: calc( 100%/12 * 2 - 1rem);
    flex: 0 0 calc( 100%/12 * 2 - 1rem);
  }
  .large-two.collapse {
    max-width: calc( 100%/12 * 2);
    flex: 0 0 calc( 100%/12 * 2);
  }
  .large-order-2 {
    -webkit-order: 2;
    order: 2;
  }
  .large-one {
    max-width: calc( 100%/12 * 1 - 1rem);
    flex: 0 0 calc( 100%/12 * 1 - 1rem);
  }
  .large-one.collapse {
    max-width: calc( 100%/12 * 1);
    flex: 0 0 calc( 100%/12 * 1);
  }
  .large-order-1 {
    -webkit-order: 1;
    order: 1;
  }
  .large-fifth {
    max-width: calc( 20% - 1rem);
    flex: 0 0 calc( 20% - 1rem);
  }
  .large-fifth.collapse {
    max-width: 20%;
    flex: 0 0 20%;
  }
}

@media only screen and (min-width: 1200px) {
  .xlarge-hide {
    display: none !important;
  }
  .xlarge-show {
    display: inherit !important;
  }
  .xlarge-text-left {
    text-align: left;
  }
  .xlarge-text-right {
    text-align: right;
  }
  .xlarge-text-center {
    text-align: center;
  }
  .xlarge-text-justify {
    text-align: justify;
  }
  .xlarge-twelve {
    max-width: calc( 100%/12 * 12 - 1rem);
    flex: 0 0 calc( 100%/12 * 12 - 1rem);
  }
  .xlarge-twelve.collapse {
    max-width: calc( 100%/12 * 12);
    flex: 0 0 calc( 100%/12 * 12);
  }
  .xlarge-order-12 {
    -webkit-order: 12;
    order: 12;
  }
  .xlarge-eleven {
    max-width: calc( 100%/12 * 11 - 1rem);
    flex: 0 0 calc( 100%/12 * 11 - 1rem);
  }
  .xlarge-eleven.collapse {
    max-width: calc( 100%/12 * 11);
    flex: 0 0 calc( 100%/12 * 11);
  }
  .xlarge-order-11 {
    -webkit-order: 11;
    order: 11;
  }
  .xlarge-ten {
    max-width: calc( 100%/12 * 10 - 1rem);
    flex: 0 0 calc( 100%/12 * 10 - 1rem);
  }
  .xlarge-ten.collapse {
    max-width: calc( 100%/12 * 10);
    flex: 0 0 calc( 100%/12 * 10);
  }
  .xlarge-order-10 {
    -webkit-order: 10;
    order: 10;
  }
  .xlarge-nine {
    max-width: calc( 100%/12 * 9 - 1rem);
    flex: 0 0 calc( 100%/12 * 9 - 1rem);
  }
  .xlarge-nine.collapse {
    max-width: calc( 100%/12 * 9);
    flex: 0 0 calc( 100%/12 * 9);
  }
  .xlarge-order-9 {
    -webkit-order: 9;
    order: 9;
  }
  .xlarge-eight {
    max-width: calc( 100%/12 * 8 - 1rem);
    flex: 0 0 calc( 100%/12 * 8 - 1rem);
  }
  .xlarge-eight.collapse {
    max-width: calc( 100%/12 * 8);
    flex: 0 0 calc( 100%/12 * 8);
  }
  .xlarge-order-8 {
    -webkit-order: 8;
    order: 8;
  }
  .xlarge-seven {
    max-width: calc( 100%/12 * 7 - 1rem);
    flex: 0 0 calc( 100%/12 * 7 - 1rem);
  }
  .xlarge-seven.collapse {
    max-width: calc( 100%/12 * 7);
    flex: 0 0 calc( 100%/12 * 7);
  }
  .xlarge-order-7 {
    -webkit-order: 7;
    order: 7;
  }
  .xlarge-six {
    max-width: calc( 100%/12 * 6 - 1rem);
    flex: 0 0 calc( 100%/12 * 6 - 1rem);
  }
  .xlarge-six.collapse {
    max-width: calc( 100%/12 * 6);
    flex: 0 0 calc( 100%/12 * 6);
  }
  .xlarge-order-6 {
    -webkit-order: 6;
    order: 6;
  }
  .xlarge-five {
    max-width: calc( 100%/12 * 5 - 1rem);
    flex: 0 0 calc( 100%/12 * 5 - 1rem);
  }
  .xlarge-five.collapse {
    max-width: calc( 100%/12 * 5);
    flex: 0 0 calc( 100%/12 * 5);
  }
  .xlarge-order-5 {
    -webkit-order: 5;
    order: 5;
  }
  .xlarge-four {
    max-width: calc( 100%/12 * 4 - 1rem);
    flex: 0 0 calc( 100%/12 * 4 - 1rem);
  }
  .xlarge-four.collapse {
    max-width: calc( 100%/12 * 4);
    flex: 0 0 calc( 100%/12 * 4);
  }
  .xlarge-order-4 {
    -webkit-order: 4;
    order: 4;
  }
  .xlarge-three {
    max-width: calc( 100%/12 * 3 - 1rem);
    flex: 0 0 calc( 100%/12 * 3 - 1rem);
  }
  .xlarge-three.collapse {
    max-width: calc( 100%/12 * 3);
    flex: 0 0 calc( 100%/12 * 3);
  }
  .xlarge-order-3 {
    -webkit-order: 3;
    order: 3;
  }
  .xlarge-two {
    max-width: calc( 100%/12 * 2 - 1rem);
    flex: 0 0 calc( 100%/12 * 2 - 1rem);
  }
  .xlarge-two.collapse {
    max-width: calc( 100%/12 * 2);
    flex: 0 0 calc( 100%/12 * 2);
  }
  .xlarge-order-2 {
    -webkit-order: 2;
    order: 2;
  }
  .xlarge-one {
    max-width: calc( 100%/12 * 1 - 1rem);
    flex: 0 0 calc( 100%/12 * 1 - 1rem);
  }
  .xlarge-one.collapse {
    max-width: calc( 100%/12 * 1);
    flex: 0 0 calc( 100%/12 * 1);
  }
  .xlarge-order-1 {
    -webkit-order: 1;
    order: 1;
  }
  .xlarge-fifth {
    max-width: calc( 20% - 1rem);
    flex: 0 0 calc( 20% - 1rem);
  }
  .xlarge-fifth.collapse {
    max-width: 20%;
    flex: 0 0 20%;
  }
}
