/* Sass Document */
body {
	box-sizing: border-box;
	width: 100%;
	overflow-x: hidden;
}
.grid {
			
			width: 100%;
			height: auto;
			margin: 0 auto;
		/*border: 3px solid black;*/
	box-sizing: border-box;
	padding-top: 99px;
	margin-top: -5px;
}
.grid.workSection {
	padding-top: 94px;
	.grid-item {
	overflow: hidden;
	width:24.5vw;
	height: 32vw;
	outline: 5px solid black;
	background-color: white;
	box-sizing: border-box;
		margin-top: 5px;
		a {
			height: 32vw;
			
		}
	
		.text {
			padding: 5px;
			height: 5vw;
			border-top: 5px solid black;
			h3 {line-height: 20px;
margin-bottom: 5px;
				&:hover {
					text-decoration: underline solid $yellow;
				}
		}
		}
	

	.mainPhoto {display: flex;
			width: 100%;
			height: 24.5vw;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
	}

}
}
	
	
		

	
	
.grid.studentSection .grid-item {
		overflow: hidden;
	width:24.5vw;
	height: 32vw;
	outline: 5px solid black;
	background-color: white;
	box-sizing: border-box;
	a {
			height: 32vw;
		}
		
			.hoverPhoto {display: none;}
	
	.mainPhoto {display: flex;
			width: 100%;
			height: 24.5vw;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
	}
	.text {
			padding: 5px;
			height: 5vw;
			border-top: 5px solid black;
			h3 {line-height: 20px;
margin-bottom: 5px;
				&:hover {
					text-decoration: underline solid $yellow;
				}
		}
		}
	}
		
	.studentSection .grid-item:hover {
		.hoverPhoto {
			display: flex;
			width: 100%;
			height: 24.5vw;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
		}
		.mainPhoto {
			display: none;
		}
		.text {
			
		}
		}
		
	

.workSection .grid-item:nth-child(5n) {  
  width: 49vw;
}
	


.search.search-results #main,
.search.search-results {
	margin-top: 100px;
}

.grid.merchSection {
	width: 90%;
	margin-top: 0;
	padding-top:0;
}
	
.grid.merchSection .grid-item {
		overflow: hidden;
	width:18vw;
	height: 18vw;
	outline: 5px solid black;
	background-color: white;
	box-sizing: border-box;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

@media only screen and (max-width: 1150px) and (min-width: 861px) {
.grid.workSection,
	.grid.studentSection{
		h3 {
			font-size: 22px;
			
		}
		
		p {
			font-size: 11px;
		}
	}
	
	.grid.workSection .grid-item .text h3 {
    line-height: 18px;
    margin-bottom: 2px;
}


}

@media all and (max-width: 860px) {
	.grid {
		padding-top: 0px;
	}
	
	.grid.merchSection .grid-item {
		overflow: hidden;
	width:40vw;
	height: 40vw;
		
	}
	
	.grid.workSection,
	.grid.studentSection{
	.grid-item {
	overflow: hidden;
		width:48vw;
		height: 52vw;
		a {
			height: 52vw;
		}
		.mainPhoto {
			width: 48vw;
			height: 38vw;
		}
	
		
		/*.text {
			height: auto;
		}*/
}
	}
	
		.studentSection {.grid-item:hover,
			.grid-item:focus {
		.hoverPhoto {
			display: flex;
			width: 48vw;
			height: 38vw;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
		}
		}
		}
}
	

@media only screen and (max-width: 600px) {
	.grid {
		padding-top: 0px;
	}
	
	#studentSection {
		padding-top: 100px;
	}
	
	.grid.workSection,
	.grid.studentSection{
		
	.grid-item {
	overflow: hidden;
		width:98vw;
		height: auto;
		a {
			height: auto;
		}
		.mainPhoto {
			width: 100vw;
			height: 80vw;
		}
		.text {
			height: auto;
		}
		}
		
		

	}
	
	
		.studentSection .grid-item:hover {
		.hoverPhoto {
			display: none;
		}
		.mainPhoto {
			display: flex;
		}
		}
		
		
}

	