/* Scss Document */
body {
	padding-top: 60px;
}
.home_video {
	height: 90vh;
	width: 100vw;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.studentSection {
	display: none;
}