/* Scss Document */

/*for single student template*/
/*modified by ERIK FOR IVANNA on 5/1/18
heavily edited by Anna after - no thimble */

*{
	font-family: HalisR, Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}



/* style student's personal infrmation */

.rowStudentHeader {
	display: flex;
	flex-direction: row;
	width: 90vw;
	padding-top: 20px;
	height: auto;
	margin: -20px auto 20px;
	justify-content: space-between;
	
	
	.projectSelectorHeader {
		width: 35%;
		    display: flex;
    flex-direction: column;

		
			
		 a.projectSelectorNameHeader {
	font-family: HalisR-Bold;
	text-align: right;
			 height: 100%;
			 width: 100%;
	border: 5px solid black;
	border-bottom: 0px;
	padding: 10px;
			width: auto;
			height: auto;
			 color: black;
			 &:hover{
				 background-color: $yellow;
			 }
			}
		a.projectSelectorNameHeader:last-of-type {
			border-bottom: 5px solid black;
		}

	}

	
}

div.headshot {
	
	    width: 20vw;
    height: 20vw;
    border: 5px black solid;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.studentInfo {
	width: 50vw;
	height: 20vw;
	padding-bottom: 10vw;
	float: left;
	margin-left: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

/* project's row */

.rowProject {
display: flex;
	flex-direction: row;
	width: 90vw;
	margin: 40px auto;
	justify-content: space-between;
	img {
		border: 5px solid black;
	}
	
	.video {
		align-self: center;
		border: 5px solid black;
		margin: 10px auto;
	}
} 


.imageThird {
	width: 30%;
}

.imageHalf {
	width: 48%;
}

.tinylogo img{
	
	width: 120px;
}
.studentContainer {
	width: 70vw;
    height: 20vw;
    color: black;
    font-size: 15px;
    font-weight: 500;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin: 0 auto;
}
.sidebar {
    max-width: none;
	padding-left: 28px;
	display: flex;
	height: 80vh !important;
}



.aboutProject {
	width: 35vw;
	align-self: flex-end;
}
/*.dash {
	float: left;
    text-align: left;
    width: 400px;
    margin-bottom: -2px;
    margin-right: 20px;
    margin-top: 130px;
}*/
.justify-end {
	justify-content: flex-end;
}
.projectTitle {
	font-weight: bold;
    font-size: 33px;
    color: black;
	    margin-bottom: 0px;
}


.projectSelectorName:hover {
	background: #F4EF4A;
}

.collaboratorTitle {
}
.projectDescription {
	
}
span.name {
	font-size: 17px;
    color: black;
    font-weight: 600;
    text-transform: uppercase;
	
}
.socialIcon {
	display: block;
	height: 32px;
	width: 32px;
	float: left;
	margin-right: 20px;
}




span.nextStudent a,
span.previousStudent a{
    font-size: 29px;
    color: black;
	    
    padding: 6px 17px;
}

span.nextStudent a:hover, span.nextStudent a:active,
span.previousStudent a:hover, span.previousStudent a:active{
	text-decoration: none;
}

p.category {
    text-transform: capitalize;
    color: black;
    font-size: 15px;
    font-weight: 500;
	margin-bottom: 5px;
	
}
p.collaboratortitle {
    color: black;
    font-size: 15px;
    font-weight: 600;
	margin: 0;
}






.red {background-color: #de3831;}
.green {background-color: #00b588;}
.blue {background-color: #73c7e7;}
.yellow {background-color: #f5ed59;}



/*big container to place element right */		
		.nextStudent {
			
		}
		
/*wrapper for the red element and parent for our layers */
.buttonWrapper {
	
    position: relative;
		}
		
.buttonWrapper:before {
			    content: '';
    position: absolute;
    display: block;
  top: 10px;
    left: -10px;
    right: 15px;
    bottom: -25px;
    border: 5px solid black;
    opacity: 0;
    -webkit-transition: opacity .1s, -webkit-transform .2s;
    transition: opacity .01s, -webkit-transform .2s;
    transition: opacity .01s, transform .2s;
    transition: opacity .01s, transform .2s, -webkit-transform .2s;
    z-index: 2;
	background-color: white;
			
		}
	
		
.buttonWrapper:after {
			    content: '';
    position: absolute;
    display: block;
       top: 20px;
    left: -20px;
    right: 30px;
    bottom: -35px;
    border: 5px solid black;
    opacity: 0;
    -webkit-transition: opacity .1s, -webkit-transform .2s;
    transition: opacity .01s, -webkit-transform .2s;
    transition: opacity .01s, transform .2s;
    transition: opacity .01s, transform .2s, -webkit-transform .2s;
    z-index: 1;
			background-color: white;
		}
		
/* red element */
		
.buttonWrapper strong {
			
			
		position: relative;
		  padding: 15px;
	padding-top: 20px;
			 border: 5px solid black;
	z-index: 3;
		}
		
/* hover code. we hover over the big element and move the red element. the rest stays where it was but becomes visible */
		
.nextStudent:hover .buttonWrapper strong,
.nextStudent:focus .buttonWrapper strong,
.previousStudent:hover .buttonWrapper strong,
.previousStudent:focus .buttonWrapper strong{
			    transform: translate(-20px, -20px);
	background-color: $yellow;
		}
		
		
.nextStudent:hover .buttonWrapper:after,
.nextStudent:focus .buttonWrapper:after,
.previousStudent:hover .buttonWrapper:after,
.previousStudent:focus .buttonWrapper:after{
			opacity: 1;
			
		}
		
.nextStudent:hover .buttonWrapper:before,
.nextStudent:focus .buttonWrapper:before,
.previousStudent:hover .buttonWrapper:before,
.previousStudent:focus .buttonWrapper:before{
			opacity: 1;
		}

a.siteLink{
    font-size: 18px;
    color: black;
    font-weight: 600;
    text-decoration: underline solid $yellow;
}
.studentInfo {span.name {
    font-size: 30px;
}
}
.socialIcon{
    font-size: 20px;
    color:black;
}
.socialSection{
    margin-top: 20px;
}
/* PROJECT SECTION styling changes*/
.aboutProject{
    margin-top: 8vh;
}
p.category{
    margin-bottom: 16px;
}

@media all and (max-width: 1000px) {
	.aboutProject {
	width: 70vw;
}
}


@media all and (max-width: 767px) {
	
	.studentInfo {
	width: 90vw;
	height: auto;
		padding-bottom: 0;
		justify-content: center;
	margin-left: 0;
}
	
	.rowProject {
		flex-direction: column;
		width: 90vw;
		div {
			margin: 10px 0;
		}
	}
	
	.rowProject.betweenNav {
		flex-direction: row;
		justify-content: space-between;
	
			.buttonWrapper {
			a {font-size: 18px;}
				
			}
		
		.buttonWrapper:after {
			 top: 15px;
    left: -20px;
    right: 30px;
    bottom: -40px;
		}
		.buttonWrapper:before {
			    
  top: 0px;
    left: -10px;
    right: 15px;
			bottom: -30px;}
			}
		
	
		
	
	
	.aboutProject {
	width: 90vw;
}
	.tinylogo img{
	
	width: 80px;
}
	.rowStudentHeader {
	.projectSelectorHeader {
		width: 80%;
		}
	}
	
	.imageThird {
	width: 90vw;
}

.imageHalf {
	width: 90vw;
}
	
	.studentContainer {
	width: 100vw;
    height: auto;
		flex-direction: column;
		div {
			margin: 10px 0;
		}
	}
	
	div.headshot {
	
	    width: 90vw;
    height: 90vw;
    border: 5px black solid;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
	.rowStudentHeader {
		margin-top: -80px;
		
	}
	
	
	.rowProject.betweenNav {
		
		span {
			margin-bottom: 60px;
			.buttonWrapper {
			a {
				font-size: 12px;
			}
			}
		}
		
		.buttonWrapper:after {
			 display: none;
		}
		.buttonWrapper:before {
			   display: none;}
	}
	
	
}

@media all and (max-width: 360px) {

.rowProject.betweenNav {
		flex-direction: column;
	justify-content: space-between;}
	
}
